logic/src/resources/transpool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TransPoolTrip">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Owner"/>
				<xs:element ref="Capacity"/>
				<xs:element ref="PPK"/>
				<xs:element ref="Route"/>
				<xs:element ref="Scheduling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransPool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MapDescriptor"/>
				<xs:element ref="PlannedTrips" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Stops">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Stop" minOccurs="2" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Stop">
		<xs:complexType>
			<xs:attribute name="y" type="xs:int" use="required"/>
			<xs:attribute name="x" type="xs:int" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpeedLimit" type="xs:int"/>
	<xs:element name="Scheduling">
		<xs:complexType>
			<xs:attribute name="recurrences" default="OneTime">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OneTime"/>
						<xs:enumeration value="Daily"/>
						<xs:enumeration value="BiDaily"/>
						<xs:enumeration value="Weekly"/>
						<xs:enumeration value="Monthly"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hour-start" type="xs:int" use="required"/>
			<xs:attribute name="day-start" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Route">
		<xs:complexType>
			<xs:attribute name="path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlannedTrips">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="TransPoolTrip"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Paths">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Path" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Path">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Length"/>
				<xs:element ref="FuelConsumption"/>
				<xs:element ref="SpeedLimit"/>
			</xs:sequence>
			<xs:attribute name="to" type="xs:string" use="required"/>
			<xs:attribute name="one-way" type="xs:boolean" default="false"/>
			<xs:attribute name="from" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PPK" type="xs:int"/>
	<xs:element name="Owner" type="xs:string"/>
	<xs:element name="MapDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MapBoundries"/>
				<xs:element ref="Stops"/>
				<xs:element ref="Paths"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapBoundries">
		<xs:complexType>
			<xs:attribute name="width" type="xs:int" use="required"/>
			<xs:attribute name="length" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Length" type="xs:int"/>
	<xs:element name="FuelConsumption" type="xs:int"/>
	<xs:element name="Capacity" type="xs:int"/>
</xs:schema>
